/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:45db3ab04f5e8c2db3eaea93f96dccd2:a53bf8b8c475efab148d35461cade0c7:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-shared-share {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/images/shared/share/sprite.png);
}

.share-tab-arrow-left {
  width: 50px;
  height: 100px;
  background-position: -2px -206px;
}
.share-tab-arrow-left:hover {
  width: 50px;
  height: 100px;
  background-position: -2px -2px;
}
.share-tab-arrow-left.disabled {
  width: 50px;
  height: 100px;
  background-position: -2px -104px;
}
.share-tab-arrow-right {
  width: 50px;
  height: 100px;
  background-position: -2px -512px;
}
.share-tab-arrow-right:hover {
  width: 50px;
  height: 100px;
  background-position: -2px -308px;
}
.share-tab-arrow-right.disabled {
  width: 50px;
  height: 100px;
  background-position: -2px -410px;
}

/*
     FILE ARCHIVED ON 19:30:15 Jun 11, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:09:14 Mar 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.582
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 9.613
  LoadShardBlock: 1196.423 (3)
  PetaboxLoader3.datanode: 199.041 (5)
  PetaboxLoader3.resolve: 1122.153 (3)
  load_resource: 132.394 (2)
*/
