/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:dab9f874ca3ffc4f35ac6c11eea8e581:b560e4e2cfcb8950d667aadb75ee893b:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-en-home {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/images/en/home/sprite.png);
}

.home-cloud-left {
  width: 331px;
  height: 181px;
  background-position: -2px -2px;
}
.home-cloud-right {
  width: 334px;
  height: 198px;
  background-position: -335px -2px;
}
.island-rollover-bubble-3ds-image-share {
  width: 206px;
  height: 46px;
  background-position: -671px -2px;
}
.island-rollover-bubble-amusement-park {
  width: 151px;
  height: 46px;
  background-position: -879px -2px;
}
.island-rollover-bubble-beach {
  width: 88px;
  height: 47px;
  background-position: -1032px -2px;
}
.island-rollover-bubble-cafe {
  width: 81px;
  height: 47px;
  background-position: -1122px -2px;
}
.island-rollover-bubble-campground {
  width: 127px;
  height: 45px;
  background-position: -1205px -2px;
}
.island-rollover-bubble-clothing {
  width: 102px;
  height: 47px;
  background-position: -1334px -2px;
}
.island-rollover-bubble-compatibility-tester {
  width: 167px;
  height: 46px;
  background-position: -1438px -2px;
}
.island-rollover-bubble-concert-hall {
  width: 127px;
  height: 45px;
  background-position: -1607px -2px;
}
.island-rollover-bubble-food-mart {
  width: 112px;
  height: 47px;
  background-position: -2px -202px;
}
.island-rollover-bubble-fountain {
  width: 104px;
  height: 42px;
  background-position: -116px -202px;
}
.island-rollover-bubble-hats {
  width: 81px;
  height: 47px;
  background-position: -222px -202px;
}
.island-rollover-bubble-import-wear {
  width: 126px;
  height: 43px;
  background-position: -305px -202px;
}
.island-rollover-bubble-interiors {
  width: 102px;
  height: 42px;
  background-position: -433px -202px;
}
.island-rollover-bubble-mii-apartments {
  width: 142px;
  height: 46px;
  background-position: -537px -202px;
}
.island-rollover-bubble-mii-homes {
  width: 129px;
  height: 44px;
  background-position: -681px -202px;
}
.island-rollover-bubble-mii-news {
  width: 103px;
  height: 44px;
  background-position: -812px -202px;
}
.island-rollover-bubble-observation-tower {
  width: 162px;
  height: 46px;
  background-position: -917px -202px;
}
.island-rollover-bubble-park {
  width: 81px;
  height: 44px;
  background-position: -1081px -202px;
}
.island-rollover-bubble-pawn-shop {
  width: 116px;
  height: 45px;
  background-position: -1164px -202px;
}
.island-rollover-bubble-photo-studio {
  width: 127px;
  height: 47px;
  background-position: -1282px -202px;
}
.island-rollover-bubble-port {
  width: 75px;
  height: 46px;
  background-position: -1411px -202px;
}
.island-rollover-bubble-rankings-board {
  width: 142px;
  height: 41px;
  background-position: -1488px -202px;
}
.island-rollover-bubble-town-hall {
  width: 113px;
  height: 43px;
  background-position: -1632px -202px;
}

/*
     FILE ARCHIVED ON 19:30:15 Jun 11, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:09:14 Mar 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.484
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 29.534
  LoadShardBlock: 91.505 (3)
  PetaboxLoader3.datanode: 150.71 (5)
  load_resource: 466.103 (2)
  PetaboxLoader3.resolve: 395.309 (2)
*/
